.zagolov {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
}

#zagolov1,
#int {
  background-color: rgb(44, 44, 44);
  height: 60px;
  margin: 0;
  padding: 10px 0 10px 90px;
}

.tabs {
  display: flex;
  justify-content: center; /* центр по горизонтали */
  gap: 10px;               /* расстояние между вкладками */
}

.tabs a {
  text-decoration: none;   /* убираем подчеркивание */
  color: black;
  padding: 8px 16px;
  border-radius: 8px;
}

.tabs a:hover {
  background-color: #eee;
}

#install, #usage, #faq {
  padding-left: 200px;
}